.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, #9ba9eb, #c3caea);
  min-height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
}

.app-logo {
  display: flex;
  align-self: flex-start;
  width: 150px;
  margin-top: 10px;
  margin-left: 40px;
  margin-bottom: 20px;
}

.details-container {
  display: flex;
  justify-content: space-between;
  background-color: #5763a5;
  padding: 20px;
  border-radius: 3px;
  width: 90%;
  margin-bottom: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  background-color: #454f84;
  width: 50%;
  padding: 20px;
  border-radius: 6px;
}

.heading {
  color: white;
  font-family: 'Roboto';
  font-size: 22px;
  margin-top: 0px;
}

.input-container {
  display: flex;
  align-items: center;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 3px;
  height: 40px;
}

.logo {
  width: 20px;
  margin: 10px;
}

.input {
  border-style: none;
  height: 100%;
  border-left: 1px solid #94a3b8;
  padding-left: 10px;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto';
  width: 100%;
}

.add-button {
  background-color: #0b69ff;
  color: white;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto';
  width: 80px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  align-self: flex-end;
}

.password-manager-image {
  width: 300px;
}

@media screen and (max-width: 767px) {
  .details-container {
    flex-direction: column;
  }
  .form-container {
    width: 100%;
  }
  .password-manager-image {
    display: flex;
    align-self: center;
    width: 80%;
  }
}

.passwords-container {
  background-color: #5763a5;
  padding: 20px;
  border-radius: 3px;
  width: 90%;
  min-height: 35vh;
}

.passwords-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.passwords-count {
  border: 1px solid white;
  padding: 4px;
  margin-left: 10px;
  font-size: 20px;
}

.show-password-checkbox-label-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.checkbox {
  height: 20px;
  width: 20px;
}

.checkbox-label-text {
  color: white;
  font-family: 'Roboto';
  font-size: 16px;
}

.no-passwords-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-passwords-image {
  width: 300px;
  margin-bottom: 20px;
}

.password-list-container {
  display: flex;
  flex-wrap: wrap;
}
